/* temp styles *
div { border:dotted 1px red; }*/

/* less rules*/
@landing_bg: #2F353E;
@landing_fg: #999;
.shadow(@c:#fff) { text-shadow: 1px 1px 1px @c; }
.rounded() { border-radius:4px; }
.gradient(@c1:#ccc, @c2:#999) {
	background: -webkit-linear-gradient(top, @c1, @c2); background: -moz-linear-gradient(top, @c1, @c2);
	background: -ms-linear-gradient(top, @c1, @c2); background: -o-linear-gradient(top, @c1, @c2);
}

/* resets*/ 
*, body, input { margin:0; padding:0; font-size:12pt; font-family: "Duru Sans",sans-serif; outline:none; }

/* classes*/ 
.center { width:960px; margin:0 auto; }
.clear { clear:both; }

/* sections */
body {  background: url('/images/body_bg.png') repeat; }
div#header { height: 100px; background-color: @landing_bg; color: @landing_fg;
	img { width:300px; height:100px; }
	ul {
		list-style: none; float: right; margin-top: 40px;
		li { display:inline; padding-left: 2em;
			a, a:active, a:visited { text-decoration: none; color:inherit; font-size: 12px; font-weight: bold; .shadow(#000); }
			a:hover { color:white; }
		}
	}
}

div#landing { background-color: @landing_bg; color:@landing_fg; border-bottom: solid 1px black; border-top:solid 2px @landing_bg; /* the border-top is to account for margin-collapsing */
	div.center { border-top: solid 1px @landing_bg; }
	div#carousel { width: 500px; height: 350px; margin:50px 0; border: solid 1px lighten(@landing_bg, 10%); .rounded(); }
	div.form { width:350px; height: 350px; margin: 50px 0; float:right;
		p { margin-top: 1em; }
		input[type=text], div#experience { width:100%; padding:8px; border: none; border-bottom: solid 1px lighten(@landing_bg, 10%); background-color: lighten(@landing_bg, 5%); color:#ccc; .rounded(); }
		div#exp_div { float:left; width:45%; }
		div#resume_div { float:right; width:45%; }
		div#experience { width:auto; }
		p.ctoa { text-align: center; margin:4em 0 2em 0; font-style: normal;
			a { padding:1em 2em; .gradient(orange, darken(orange, 15%)); color:@landing_bg; font-weight: bold; .shadow(#ccc); .rounded(); text-decoration: none; border-top: solid 1px #ccc; }
			a:hover { .gradient(orange, darken(orange, 10%); }
			
			a#save { .gradient(#0c6, darken(#0c6, 15%)); }
			a#save:hover { .gradient(#0c6, darken(#0c6, 10%); }
			
			a#back { .gradient(#aaa, darken(#aaa, 15%)); }
			a#back:hover { .gradient(#aaa, darken(#aaa, 10%)); }
		}

		p.info { font-style:normal; color:c90; }
	}
	div#form_resume { height:inherit; }
	div#form_preferences { height:inherit; display:none; }
	div#form_share { height:inherit; display:none; }

}

div#features { height:400px; border-top: solid 1px white; border-bottom: solid 1px #999;
	table { width:100%; }
	td { width: 50%; vertical-align: top; }
	h1 { text-transform: uppercase; color:#600; .shadow(); font-weight: bold; }
	p { font-size: 14px; color:#333; margin-top:1em; line-height: 1.5em; }
}
div#partners { height:200px;  border-top: solid 1px white; 
	img { width:200px; height:200px; }
}