/* temp styles 
div { border:dotted 1px red; } */

/* less rules*/
@text_bg:#eee; @text_fg: #333;
.shadow(@c:#fff) { text-shadow: 1px 1px 1px @c; }
.rounded() { border-radius:4px; }
.gradient(@c1:#ccc, @c2:#999) {
	background: -webkit-linear-gradient(top, @c1, @c2); background: -moz-linear-gradient(top, @c1, @c2);
	background: -ms-linear-gradient(top, @c1, @c2); background: -o-linear-gradient(top, @c1, @c2);
}

/* resets*/ 
*, body, input { margin:0; padding:0; font-size:12pt; font-family: "Duru Sans",sans-serif; outline:none; line-height: 12pt; color:@text_fg; }
div { border-top:solid 1px transparent; } /* fix for margin-collapse */
button { padding:4px; cursor: pointer; }

/* classes*/ 
.viewport { width:960px; margin:0 auto; }
.clear { clear:both; }
.page { margin:10px 0; padding:10px; min-height: 400px; box-shadow: 0px 0px 10px #000; }

/* sections */
body {  background: url('/images/body_bg.png') repeat; color:@text_fg; }
input[type=text], input[type=password], textarea, .kslider { padding:4px; background-color: #e0e0e0; border:solid 1px #bbb; border-bottom: solid 1px #eee; .rounded(); }

div#top_bar { height:25px; text-align: right; color:#666;
	a,span { font-size:12px; line-height: 24px; }
}
div#header { height: 100px;
	.left { float:left; width:200px; }
	.center { float:left; margin:44px 0; text-align: center; width:550px; }
	.right { float:left; margin:44px 0; width:200px; }
	img { width:100px; height:100px; }
	select { padding:4px; }
}

div#msgs {
}
div#page_jobs {
	div#toolbar_jobs {
		.left { float: left; width:49%; }
		.right { float: right; width: 49%; text-align: right; }
	}
}
div#page_job_create {
	table { width:600px; margin:10px auto;
		td { vertical-align: top; }
		td.form_label { width:25%; }
		textarea { width: 100%; height:200px; }
		#tags { width:100%; }
		div#experience, div#ctc { width:192px; }
	}
}
