/* temp styles */
td,div { border:dotted 1px red; } 

/* less rules*/
@body_bg:#345; @body_fg: #ccc;
@text_bg:#ddd; @text_fg: #333;
.shadow(@c:#fff) { text-shadow: 1px 1px 1px @c; }
.rounded() { border-radius:4px; }
.gradient(@c1:#ddd, @c2:#999) {
	background: -webkit-linear-gradient(top, @c1, @c2); background: -moz-linear-gradient(top, @c1, @c2);
	background: -ms-linear-gradient(top, @c1, @c2); background: -o-linear-gradient(top, @c1, @c2);
}

/* resets*/ 
*, body, input { margin:0; padding:0; font-size:12pt; font-family: "Duru Sans",sans-serif; outline:none; line-height: 12pt; color:@text_fg; }
div { border-top:solid 1px transparent; } /* fix for margin-collapse */
button { padding:4px; cursor: pointer; color:@text_fg; }

/* classes*/
.left { float:left; }
.right { float: right; }
.clear { clear:both; }
.page {  margin:0 1em; }

/* sections */
body {  /*background: url('/images/body_bg.png') repeat; */ background-color: @body_bg; }
input[type=text], input[type=password], textarea, .kslider { padding:4px; background-color: #e0e0e0; border:solid 1px #bbb; border-bottom: solid 1px #eee; .rounded(); }

div#top_bar { height:50px; 	margin:0 1em; text-align: right; color:#666;
	a,span { font-size:12px; line-height: 48px; }
	button#back { display:none; }
}
div#header { height: 100px; margin:0 1em;
	.left { width:200px; }
	.right { margin:44px 0; width:200px; }
	img { width:100px; height:100px; }
	select { padding:4px; }
}

div#page_jobs {
	table { width:100%;
		td.job { width:20%; background: @text_bg; .gradient(); cursor:pointer;
			h5 { margin:16px; text-transform: uppercase; .shadow(); }
			h6 { margin:16px; text-transform: uppercase; font-size: 12px; font-weight: normal; }
		}
		td.empty { width:20%; background:none; }
	}
}
div#page_job_create {
	table { width:600px; margin:10px auto;
		td { vertical-align: top; }
		td.form_label { width:25%; }
		textarea { width: 100%; height:200px; }
		#tags { width:100%; }
		div#experience, div#ctc { width:192px; }
	}
}

div#page_job_details {
	table#job_details { width:100%;
		td.candidate { width:20%; }
		td.summary { width:30%; }
		td.details { width:30%; }
		td.actions { width:20%; }
		h5 { margin:16px; text-transform: uppercase; color:@body_fg; .shadow(#000); }
		h6 { margin:16px; text-transform: uppercase; font-size: 12px; font-weight: normal;  color:@body_fg; }
	}
	table#applications { width:100%;
		td.header { width:20%; }
	}
}
