/* temp styles *
div { border:dotted 1px red; }*/

/* less rules*/
@header_bg: #303840; @header_fg:#999;
@text_bg:#eee; @text_fg: #333;
.shadow(@c:#fff) { text-shadow: 1px 1px 1px @c; }
.rounded() { border-radius:4px; }
.gradient(@c1:#ccc, @c2:#999) {
	background: -webkit-linear-gradient(top, @c1, @c2); background: -moz-linear-gradient(top, @c1, @c2);
	background: -ms-linear-gradient(top, @c1, @c2); background: -o-linear-gradient(top, @c1, @c2);
}

/* resets*/ 
*, body, input { margin:0; padding:0; font-size:12pt; font-family: "Duru Sans",sans-serif; outline:none; }

/* classes*/ 
.center { width:960px; margin:0 auto; }
.clear { clear:both; }
.hilite { background-color: darken(orange, 10%); color:#333; .shadow(#ccc); }
.filter { margin:25px 0; /*border-bottom:dotted 1px #666;*/ }

/* sections */
body {  background: url('/images/body_bg.png') repeat; color:@text_fg; }
input[type=text], input[type=password] { width:100%; padding:8px; background-color: #e0e0e0; border:solid 1px #bbb; border-bottom: solid 1px #eee; .rounded(); }

div#top_bar { height:25px; background-color: black; color:#666; border-top:solid 1px black;
	p { margin-top:6px; font-size:12px; }
	ul { float: right; list-style: none; font-size: 12px;
		li { display:inline; padding-left: 2em; border: none; line-height:12px; 
			a, a:active, a:visited { text-decoration: none; color:#666; font-size:10px; padding:0; font-weight: bold;}
			a:hover { color:#999; }
		}
	}
}
div#header { height: 100px; background-color: @header_bg; color: @header_fg; border-bottom: solid 1px black;
	img { width:300px; height:100px; }
	div.nav { float:right; padding:41px 25px; cursor:pointer; font-weight: bold; .shadow(#000); }
	div.nav:hover { background-color: lighten(@header_bg, 5%); }
}

div#home {
	table#results { width: 100%; border-top: dotted 1px #999;
		td { padding:1em 0; border-bottom: dotted 1px #999;  }
		td.name { width:30%; }
		td.score { width:20%; text-align: center; }
		td.experience { width:10%; text-align: center; }
		td.ctc { width:20%; text-align: center; }
		td.location { width:20%; text-align: center; }
		h1 { color:#900; font-size:14pt; font-weight: normal; }
		p { font-weight:bold; }
		p.hint { font-weight: normal; font-size:12px; color:lighten(@text_fg, 20%); }
	}
}
div#filter_home {
	p { margin:25px 25px 0 25px; }
	div#location_div { float:left; width:25%; margin:25px; }
	div#experience_div { float:right; width:25%; margin:25px; }
	div#ctc_div { float:right; width: 30%; margin:25px; }
	div#min_experience, div#max_ctc { padding:8px; background-color: #e0e0e0; border:solid 1px #bbb; border-bottom: solid 1px #eee; .rounded(); }
}
