/* temp styles *
div { border:dotted 1px red; }*/

/* less rules*/
@header_bg: #333; @header_fg:#999;
@text_fg: #333;
.shadow(@c:#fff) { text-shadow: 1px 1px 1px @c; }
.rounded() { border-radius:4px; }
.gradient(@c1:#ccc, @c2:#999) {
	background: -webkit-linear-gradient(top, @c1, @c2); background: -moz-linear-gradient(top, @c1, @c2);
	background: -ms-linear-gradient(top, @c1, @c2); background: -o-linear-gradient(top, @c1, @c2);
}

/* resets*/ 
*, body, input { margin:0; padding:0; font-size:12pt; font-family: "Duru Sans",sans-serif; outline:none; }

/* classes*/ 
.center { width:960px; margin:0 auto; }

/* sections */
body {  background: url('/images/body_bg.png') repeat; color:@text_fg; }
div#top_bar { height:25px; background-color: black; color:#666; }
div#header { height: 100px; background-color: @header_bg; color: @header_fg; border-bottom: solid 1px black;
	img { width:300px; height:100px; }
}

h1 { padding:25px 0; font:bold 32px Georgia, serif; font-style:italic; .shadow(); }
input[type=text], input[type=password] { width:100%; padding:8px; background-color: #e0e0e0; border:solid 1px #bbb; border-bottom: solid 1px #eee; .rounded(); }
a { padding:.8em 2em; .gradient(orange, darken(orange,10%)); color:#333; font-weight: bold; .shadow(#ccc); .rounded(); text-decoration: none; border-top: solid 1px #ddd; }
a:hover { .gradient(orange, darken(orange, 5%); }
p { margin-bottom:2em; }
p.ctoa { margin-top:3em; text-align:center;

div#landing { border-top:solid 1px #fff;
	div#features { width:550px; margin-top:75px; text-align: center;
		p { margin:25px 0;  }
	}
	div#login { float:right; width:300px; margin-top:25px;
		}
		p.sign_up { text-align: center;
			a { color: #900; }
		}
	}
}
