/* temp styles *
div { border:dotted 1px red; }*/

/* less rules*/
@header_bg: #333; @header_fg:#999;
@landing_bg: #ccc;
.shadow(@c:#fff) { text-shadow: 1px 1px 1px @c; }
.rounded() { border-radius:4px; }
.gradient(@c1:#ccc, @c2:#999) {
	background: -webkit-linear-gradient(top, @c1, @c2); background: -moz-linear-gradient(top, @c1, @c2);
	background: -ms-linear-gradient(top, @c1, @c2); background: -o-linear-gradient(top, @c1, @c2);
}

/* resets*/ 
*, body, input { margin:0; padding:0; font-size:12pt; font-family: "Duru Sans",sans-serif; outline:none; }

/* classes*/ 
.center { width:960px; margin:0 auto; }

/* sections */
body {  background: url('/images/body_bg.gif') repeat; color:#333; }
div#top_bar { height:25px; background-color: black; color:#666; }
div#header { height: 100px; background-color: @header_bg; color: @header_fg; border-bottom: solid 1px black;
	img { width:300px; height:100px; }
	ul {
		list-style: none; float: right; margin-top: 40px;
		li { display:inline; padding-left: 2em;
			a, a:active, a:visited { text-decoration: none; color:inherit; font-size: 12px; font-weight: bold; .shadow(#000); }
			a:hover { color:white; }
		}
	}
}

div#landing { border-top:solid 1px #fff;
	div#features { width:550px; margin-top:75px; text-align: center;
		h1 { padding:25px 0; font:bold 32px Georgia, serif; font-style:italic; .shadow(); border-bottom:dotted 1px #999; }
		p { margin:25px 0; .shadow(); }
	}
	div#login { float:right; width:300px; margin-top:25px;
		p { margin-bottom:2em; }
		input[type=text], input[type=password] { width:100%; padding:8px; background-color: #eee; border:solid 1px #ccc; border-bottom: solid 1px #fff; .rounded(); }
		p.ctoa { margin-top:3em; text-align:center;
			a { padding:.8em 2em; .gradient(orange, darken(orange, 15%)); color:#333; font-weight: bold; .shadow(#ccc); .rounded(); text-decoration: none; border-top: solid 1px #ccc; }
			a:hover { .gradient(orange, darken(orange, 10%); }
		}
		p.sign_up { text-align: center;
			a { color: #900; }
		}
	}
}
