/* temp styles *
div { border:dotted 1px red; }/

/* less rules*/
@body_bg: #333; @body_fg:#999;
@text_fg: #ccc;
.shadow(@l:1px, @r:1px, @w:1px, @c:#000) { text-shadow: @l @r @w @c; }
.rounded() { border-radius:4px; }
.gradient(@c1:#ccc, @c2:#999) {
	background: -webkit-linear-gradient(top, @c1, @c2); background: -moz-linear-gradient(top, @c1, @c2);
	background: -ms-linear-gradient(top, @c1, @c2); background: -o-linear-gradient(top, @c1, @c2);
}

/* resets*/ 
*, body, input { margin:0; padding:0; font-size:12pt; font-family: "Duru Sans",sans-serif; outline:none; color:@body_fg; }

/* classes*/ 
.center { width:960px; margin:0 auto; }

/* sections */
body {  background: url('/images/bg.png') repeat;  }
div#header { padding:100px 0; text-align: center;
}

div#landing {
	div#features { width:550px; margin-top:25px; text-align: center;
		h1 { padding:25px 0; font:bold 32px Georgia, serif; font-style:italic; .shadow(); border-bottom:dotted 1px #999; }
		p { margin:25px 0; color:#999; }
	}
	div#login { width:300px; margin:0px auto; 
		p { color:#999; .shadow(); margin:2em 0; }
		input[type=text], input[type=password] { width:100%; padding:8px; background-color: darken(@body_bg,5%); border:none; border-bottom: solid 1px lighten(@body_bg, 25%); .rounded(); }
		p.ctoa { margin-top:3em; text-align:center;
			button { padding:8px 2em; .gradient(orange, darken(orange,10%)); color:#333; font-weight: bold; .shadow(1px, 1px, 1px, #ccc); border:none; .rounded(); text-decoration: none; border-top: solid 1px #ddd; }
		}
	}
}
